<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>
    <title>Delia Tech Books</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- htmx -->
    <script defer src="https://unpkg.com/htmx.org@1.9.9"></script>
    <!-- alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- daisyui -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.22/dist/full.min.css" rel="stylesheet" type="text/css" />
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-base-200 min-h-screen">
    <header class="shadow-lg">
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <span class="text-xl">Delia Tech Books</span>
            </div>
            <div class="flex-none" hx-target="#main">
                <!-- trigger first page render, otherwise just remove the line if it offends you -->
                <span hx-get="/books" hx-trigger="load"></span>
                <button hx-get="/books" hx-swap="innerHTML" class="btn btn-ghost">Books</button>
                <button hx-get="/about" hx-swap="innerHTML" class="btn btn-ghost">About</button>
            </div>
        </div>
    </header>

    <main id="main" class="container mx-auto pt-4"></main>

    <!-- Actions -->
    <script>

        // our api
        const api = {
            books: {
                all: () => {
                    return fetch('/api/books/').then(response => response.json());
                },
                get: (isbn) => {
                    return fetch(`/api/book/${id}/`, { method: "GET" }).then(response => response.json());
                }
            },
        }
        
        // Alpine stores
        document.addEventListener('alpine:init', () => {
            Alpine.store('booksStore', {
                books : [],
                async init() {
                    this.books = await api.books.all()
                },
                
            })
        })
    </script>

</body>



</html>